<div class="popup" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>
		<div class="row">
			<span class="popup_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SEND_ENCRYPTED_FILE'}"></span>
		</div>
		<div class="fields encrypt-popup">
			<div class="fieldset">
				<div class="row">
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_RECIPIENT'}"></span>
					<input id="select_recipient_input" class="value input" spellcheck="false" type="text" autocomplete="on"
						data-bind="value: recipientAutocomplete,
							valueUpdate: ['blur', 'afterkeydown'],
							autocompleteSimple: {callback: autocompleteCallback.bind($data), dataAccessor: recipientAutocompleteItem},
							disable: isSuccessfullyEncryptedAndUploaded()" />
				</div>
				<div data-bind="visible: !isSuccessfullyEncryptedAndUploaded()">
					<div class="row">
						<br>
						<span class="hint" data-bind="text: recipientHintText"></span>
					</div>
					<br>
					<div class="row">
						<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ENCRYPTION_TYPE'}"></span>
						<span class="value">
							<label class="custom_radio pgp-encrypt-radio" data-bind="css: {'checked': encryptionBasedMode() === Enums.EncryptionBasedOn.Key, 'disabled': keyBasedEncryptionDisabled}">
								<span class="icon"></span>
								<input type="radio" id="tab_key" data-bind="checked: keyBasedEncryptionDisabled() ? false : encryptionBasedMode, attr: {'value': Enums.EncryptionBasedOn.Key}" />
							</label>
							<label for="tab_key" data-bind="i18n: {'key': '%MODULENAME%/LABEL_KEY_BASED_ENCRYPTION'}, css: {'hint': keyBasedEncryptionDisabled}"></label>

							<label class="custom_radio pgp-encrypt-radio" data-bind="css: {'checked': encryptionBasedMode() === Enums.EncryptionBasedOn.Password, 'disabled': passwordBasedEncryptionDisabled}">
								<span class="icon"></span>
								<input type="radio" id="tab_password" data-bind="checked: passwordBasedEncryptionDisabled() ? false : encryptionBasedMode, attr: {'value': Enums.EncryptionBasedOn.Password}" />
							</label>
							<label for="tab_password" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PASSWORD_BASED_ENCRYPTION'}, css: {'hint': passwordBasedEncryptionDisabled}"></label>
						</span>
					</div>
					<br>
					<div class="row" data-bind="style: {'visibility': (encryptionBasedMode() !== '') ? 'visible' : 'hidden'}">
						<span class="hint" data-bind="text: encryptionBasedMode() === '' ? '&nbsp;' : encryptionModeHintText()"></span>
					</div>
					<div class="row" data-bind="css: {'disabled': !isSigningAvailable()}">
						<div style="white-space: nowrap;">
							<label data-bind="css: {'checked': sign, 'disabled': !isSigningAvailable()}, enable: isSigningAvailable()" class="custom_checkbox checked">
								<span class="icon"></span>
								<input type="checkbox" data-bind="checked: sign, enable: isSigningAvailable()" id="openpgp-sign" />
							</label>
							<label data-bind="i18n: {'key': '%MODULENAME%/LABEL_SIGN'}" for="openpgp-sign"></label>
							<input name="fake_input_for_autocomplete" type="text" class="value input" style="display: none;" />
							<span class="label pgp_password" 
								data-bind="i18n: {'key': 'COREWEBCLIENT/LABEL_PASSWORD'}, style: { 'width': '100px', 'margin-left': '0'}"></span>
							<input autocomplete="new-password" type="password" class="value input" 
								data-bind="value: passphraseFile, style: { 'width': '200px'}, enable: sign() && isSigningAvailable()" />
						</div>
					</div>
					<div class="row">
						<span class="hint" data-bind="i18n: {'key': '%MODULENAME%/HINT_SIGN_FILE'}"></span>
					</div>
				</div>
				<div data-bind="visible: isSuccessfullyEncryptedAndUploaded()">
					<div class="encryption-result">
						<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/HINT_ENCRYPTED_FILE_LINK'}"></div>
						<div class="value" data-bind="text: encryptedFileLink"></div>
						<div data-bind="visible: encryptedFilePassword() !== '' ">
							<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/HINT_ENCRYPTED_FILE_PASSWORD'}"></div>
							<div class="value" data-bind="text: encryptedFilePassword"></div>
						</div>
					</div>
					<br>
					<div class="hint" data-bind="text: hintUnderEncryptionInfo"></div>
					<div class="row">
						<div style="white-space: nowrap;">
							<label data-bind="css: {'checked': sign, 'disabled': !isSigningAvailable()}, enable: isSigningAvailable()" class="custom_checkbox checked">
								<span class="icon"></span>
								<input type="checkbox" data-bind="checked: sign, enable: isSigningAvailable()" id="openpgp-sign" />
							</label>
							<label data-bind="i18n: {'key': '%MODULENAME%/LABEL_SIGN'}" for="openpgp-sign"></label>
							<span class="label pgp_password" 
								data-bind="i18n: {'key': 'COREWEBCLIENT/LABEL_PASSWORD'},
								style: { 'width': '100px', 'margin-left': '0'},
								visible: showPassphraseEmail()">
							</span>
							<input autocomplete="new-password" type="password" class="value input" 
								data-bind="value: passphraseEmail,
									style: { 'width': '200px'},
									enable: sign() && isSigningAvailable(),
									visible: showPassphraseEmail()" />
						</div>
					</div>
					<div class="row">
						<span class="hint" data-bind="i18n: {'key': '%MODULENAME%/HINT_SIGN_EMAIL'}"></span>
					</div>
				</div>
			</div>
			<div class="buttons">
				<span class="button" data-bind="click: isEncrypting() ? false: encrypt, visible: encryptionAvailable() && !isSuccessfullyEncryptedAndUploaded(), css: {'disabled': isEncrypting()}">
					<span data-bind="i18n: {'key':  '%MODULENAME%/ACTION_ENCRYPT'}, visible: !isEncrypting()"></span>
					<span data-bind="i18n: {'key':  '%MODULENAME%/ACTION_ENCRYPT_IN_PROGRESS'}, visible: isEncrypting()"></span>
				</span>
				<span class="button" data-bind="click: sendEmail, visible: isSuccessfullyEncryptedAndUploaded(), text: sendButtonText"></span>
				<span class="button secondary_button" data-bind="text: cancelButtonText, click: isEncrypting() ? false: cancelPopup, css: {'disabled': isEncrypting()}"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
